#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.icono {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.div-obli {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: bisque;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.informe {
  width: 100%;
  align-items: flex;
}

.card.listado {
  width: 100%;
  align-items: center;
}

.card.formulario {
  width: 100%;
  align-items: flex;
  
}

.card.registro {
  width: 100%;
  align-items: flex;
  padding: 25px;
}

.card.contador {
  width: 100%;
  align-items: flex;
  
}

.text-obli {
  resize: none;
  height: 10%;
}

.a-obli {
  text-decoration: none;

}

.a-obli:hover {
  text-decoration: none;
  cursor:pointer;
  
}

.align-left-obli {
  text-align: left;
}
.align-right-obli {
  text-align: right;
}
.align-center-obli {
  text-align: center;
}
