@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
  }

body{
  display: block !important;
}

#root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #F0F0F0;
}

.menu {
  width: 100%;
  height: 72px;
  background-color: #94C7BB;
  margin-bottom: 20px;
}

.menu h2{
    padding-top:20px;
    text-align:center;
}
